.card {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.card__description {
  display: flex;
  background-color: white;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  border-radius: 0 0 10px;
  transition: opacity 0.35s;
  flex-shrink: 0;
}
.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
