.footer {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  padding-top: 67px;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  margin: 0;
  line-height: normal;
  padding-bottom: 60px;
}
@media screen and (max-width: 920px) {
  .footer {
    max-width: 584px;
  }
  .footer__copyright {
    font-size: 16px;
  }
}

@media screen and (max-width: 638px) {
  .footer {
    max-width: 320px;
  }
}
@media screen and (max-width: 560px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
  }
  .footer__copyright {
    font-size: 14px;
    padding-bottom: 36px;
  }
}
