.header {
  margin-top: 45px;
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.header__image {
  margin-bottom: 40px;
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 1100px) {
  .header {
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
  }
}
@media screen and (max-width: 920px) {
  .header {
    max-width: 584px;
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    max-width: 584px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 670px) {
  .header {
    max-width: 584px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 638px) {
  .header {
    max-width: 584px;
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 560px) {
  .header {
    height: 56px;
    min-width: 282px;
    margin: 28px 0 37px;
    width: 100%;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 56px;
    min-width: 282px;
    margin: 28px 0 37px;
    width: 100%;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
